﻿@model _6351071005_LTWEB_K63.Models.XEGANMAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thong tin chi tiet xe</h2>
<img src="~/images/@Model.Anhbia" alt="hinh anh xe" width="150" />
<h3>Ten xe: @Model.TenXe</h3>