@model IEnumerable<_6351071005_LTWEB_K63.Models.XEGANMAY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- Phần bên trái (chủ đề sách) -->
        <div class="col-md-3 left-container">
            @Html.Action("LoaiXe", "Home")
            @Html.Action("Nhaphanphoi", "Home")
        </div>

        <!-- Phần bên phải (danh sách sách) -->
        <div class="col-md-9 right-content">
            <div class="row">
                @foreach (var xe in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="@Url.Action("Details", "Home", new { id = xe.MaXe })">
                                <img src="~/images/@xe.Anhbia" alt="hinh anh xe" width="150" />
                                <div>
                                    <br />
                                    <h4 style="text-align: center">@xe.TenXe</h4>
                                    <p></p>
                                </div>
                                <div class="rating">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                        <span>&#9733;</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

