﻿
@{
    ViewBag.Title = "XÁC NHẬN ĐƠN HÀNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    ĐƠN HÀNG CỦA QUÝ KHÁCH ĐƯỢC CHÚNG TÔI GHI NHẬN. CHÚNG TÔI SẼ LIÊN HỆ QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT VÀ GIAO
    HÀNG ĐÚNG HẸN
</h2>

<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home");
</p>